.title {
    color: white;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px rgb(39, 39, 39), 3px 3px 6px rgb(29, 29, 29);
}

.subtitle {
    color: white;
    text-shadow: 1px 1px 1px #000, 3px 3px 6px rgb(0, 0, 3);
}

.hero {
    background: url(https://source.unsplash.com/3k9PGKWt7ik/1920x1080);
    background-size: cover;
    /* "Rainbow Photo by <a href='https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Pawel Czerwinski</a> on <a href='https://unsplash.com/s/photos/background-colorful?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a>
        " */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* border-top: 10px solid coral; */
}

.pfp-frame {
    background-color: rgba(255, 248, 220, 0.6);
    outline: 1.5px solid cornsilk;
    outline-offset: 8px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px rgba(255, 248, 220, 0.7),
                -10px 0px 5px 10px rgba(255, 221, 220, 0.5);
}